/*Calculadora Simples - Estilo CSS*/
body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #fffdde;
    padding: 20px;
    border-radius: 15px;
    width: 260px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
}

input {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: right;
    padding: 5px;
    border: none;
    border-bottom: 2px solid #fff1a1;
    outline: none;
}

.botoes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 50px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: #fff67d;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background-color: #d1d1d1;
}

button.operador {
    background-color: #ffe96a;
}

button.igual {
    background-color: #0078d7;
    color: white;
    grid-column: span 2;
}

button.igual:hover {
    background-color: #005fa3;
}

#resultado {
    margin-left: 20px;
    font-size: 22px;
}
